@{
    ViewData.["Title"] = "All shorts links";
}

<div class="container">
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Add New</a>
</div>

<div class="container">
    <table class="table table-stripped">

    </table>
</div>