@model List<Url>;

@{
}

@{
    var currentDateTime = DateTime.UtcNow;
    var allUrls = ViewData["allUrls"] as List<string>;
}
 
<h4>@ViewBag.ShortenedUrl</h4>

@foreach (var url in allUrls)
{
    <ul>
        <li>@url</li>
    </ul>    
}

