@model List<Url>;

@{
}

@{
    var currentDateTime = DateTime.UtcNow;
    var allUrls = ViewData["allUrls"] as List<string>;
}
 
<h4>@ViewBag.ShortenedUrl</h4>
@if (ViewBag.SuccessMessage != null)
{
    <h3>Success  @TempData["SuccessMessage"].ToString()</h3>
}

